{% assign form_id = form_id | default: nil %}
{% assign alignment = alignment | append: ' main_form_colchones d-flex flex-column' %}
{% assign alignment_movil = alignment_movil %}
{% assign alineacion_elementos = alignment | append: ' ' | append: alignment_movil %}
{% assign newsletter_tags = etiqueta %}

{%- if template contains 'password' %}
  {% assign newsletter_tags = newsletter_tags | append: ', password page' %}
{%- else -%}
  {% assign newsletter_tags = newsletter_tags | append: ', newsletter' %}
{%- endif -%}

{% unless input_id %}
  {% assign input_id = 'newsletter_email' %}
{% endunless %}

  {% form 'customer', id: form_id, class: 'row text-start form-webtolead' %}
      <input type="hidden" name="contact[tags]" value="{{ newsletter_tags }}">
      <div class="col-12">
        <input
          class=" rounded-pill p-2 ps-3 bg-light-gris-jamar text-gris-jamar border-0 col-12 col-md-9"
          name="contact[note][Nombre]"
          id="name"
          type="text"
          placeholder="Nombre completo*"
          required
        >
      </div>
      <div class="col-12 mt-3">
        <input
          class=" rounded-pill p-2 ps-3 bg-light-gris-jamar text-gris-jamar border-0 col-12 col-md-9"
          name="contact[email]"
          id="email"
          type="email"
          placeholder="Tu correo electrónico*"
          required
        > 
      </div>
      <div class="col-12 d-inline mt-3">
          <style>
            .form-check-input:checked {
                background-color: #6E7A8A ;
                border-color: #6E7A8A ;
            }
          </style>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            <label class="form-check-label" for="flexCheckDefault">
              <span class="ms-1 text-gris-jamar">Deseo recibir promociones por WhatsApp</span>
            </label>
          </div>
      </div>
      <div class="col-12 d-inline">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckDefault">
              <span class="ms-1 text-gris-jamar">Acepto <a class="text-decoration-underline text-gris-jamar" href="/pages/politicas-de-privacidad"><b>Políticas de Privacidad de Datos</b></a></span>
            </label>
          </div>
      </div>
      <div class="col-12 text-start">
        <button
          class="btn rounded-pill pt-2 pb-2 ps-4 pe-4 bg-gris-jamar fw-bold text-white mt-4 border-0"
          name="subscribe"
          type="submit"
          id="btn_{{form_id}}"
        >
          Enviar
        </button>
      </div>

{% endform %}

{% comment %}
/*****************************************************
*			 TAGS PARA WEB RECOMENDATION
*	            PATRYKSIM@GMAIL.COM
******************************************************/
{% endcomment %}
{%- comment -%} {{ 'web-to-lead.js' | asset_url | script_tag }} {%- endcomment -%}

<script>
  _etmc.push(["setOrgId", "515007278"]);
  _etmc.push(["setUserInfo", {
    "email": document.querySelector("#email").value,
    /*"details": {
      "sexo": "INSERT_VALUE_HERE",
      "edad": "INSERT_VALUE_HERE",
      "estado civil": "INSERT_VALUE_HERE"
    }*/
  }]);
  _etmc.push(["trackPageView"]);
     
  
  
</script>
