    <style>

        .contenedor_boton_fixed_chat {
            position: fixed;
            bottom: 20px;
            right: 10px;
            display:none;
            justify-content:center;
            flex-direction:column;
          	z-index: 1000000;
        }
        .container_whats {
            width: 55px;
            height: 55px;
            background-color: #25D366;
            border-radius: 50%;
            display:flex;
            justify-content:center;
            align-items:center;
            position: absolute;
            top: -55px;
            left: -35px;
        }

        .container_portal_clientes {
            width: 35px;
            height: 35px;
            background-color:#FF3333;
            display:flex;
            justify-content:center;
            align-items:center;
            border-radius: 50%;
        }
      
        @media (max-width: 600px) {
		.contenedor_boton_fixed_chat {
              display:flex;
            }
          }

    </style>
    <div class="contenedor_boton_fixed_chat">
        <div class="container_whats">
            <a href="https://bit.ly/3MHBzo6" data-wa="true" data-wa-section-name="boton-flotante-izquierda-cta">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 30.0001L2.11881 22.2963C0.811354 20.0413 0.124341 17.4851 0.125597 14.8638C0.129364 6.66881 6.82994 6.10352e-05 15.0628 6.10352e-05C19.058 0.00131104 22.8083 1.55006 25.6292 4.36006C28.4489 7.17006 30.0013 10.9051 30 14.8776C29.9962 23.0738 23.2957 29.7426 15.0628 29.7426C12.5634 29.7413 10.1005 29.1176 7.91886 27.9326L0 30.0001ZM8.28561 25.2413C10.3906 26.4851 12.4002 27.2301 15.0578 27.2313C21.9003 27.2313 27.4743 21.6888 27.478 14.8751C27.4805 8.04756 21.9329 2.51256 15.0678 2.51006C8.2203 2.51006 2.65009 8.05256 2.64758 14.8651C2.64632 17.6463 3.46521 19.7288 4.84049 21.9076L3.58578 26.4676L8.28561 25.2413ZM22.5873 18.4113C22.4943 18.2563 22.2457 18.1638 21.8714 17.9776C21.4984 17.7913 19.6634 16.8926 19.3205 16.7688C18.9789 16.6451 18.7302 16.5826 18.4803 16.9551C18.2316 17.3263 17.5157 18.1638 17.2984 18.4113C17.0811 18.6588 16.8626 18.6901 16.4896 18.5038C16.1166 18.3176 14.9133 17.9263 13.4878 16.6601C12.3788 15.6751 11.629 14.4588 11.4117 14.0863C11.1944 13.7151 11.3891 13.5138 11.575 13.3288C11.7433 13.1626 11.948 12.8951 12.1351 12.6776C12.3248 12.4626 12.3863 12.3076 12.5119 12.0588C12.6363 11.8113 12.5747 11.5938 12.4805 11.4076C12.3863 11.2226 11.6403 9.39381 11.3301 8.65006C11.0261 7.92631 10.7184 8.02381 10.4898 8.01256L9.77393 8.00006C9.52524 8.00006 9.12082 8.09256 8.7792 8.46506C8.43758 8.83756 7.473 9.73506 7.473 11.5638C7.473 13.3926 8.8106 15.1588 8.99648 15.4063C9.18362 15.6538 11.6277 19.4063 15.3718 21.0151C16.2622 21.3976 16.958 21.6263 17.4994 21.7976C18.3936 22.0801 19.2075 22.0401 19.8505 21.9451C20.5677 21.8388 22.0585 21.0463 22.37 20.1788C22.6815 19.3101 22.6815 18.5663 22.5873 18.4113Z" fill="white"/>
                </svg>
                 </a>
            <span class="btn_whatsapp_toltip" data-show="false">¡Un asesor de venta está listo para ayudarte! <span class="close_btn_whats"> 
            <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.26083 0.916687L5 4.17752L1.73917 0.916687L0.916666 1.73919L4.1775 5.00002L0.916666 8.26086L1.73917 9.08336L5 5.82252L8.26083 9.08336L9.08333 8.26086L5.8225 5.00002L9.08333 1.73919L8.26083 0.916687Z" fill="white"/>
            </svg> </span> </span>
            
           
        </div>

        <div class="container_portal_clientes">
            <a href="https://cuenta.jamar.com.pa/">
                <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2 1H2.8C1.80589 1 1 1.86909 1 2.94118V12.6471C1 13.7191 1.80589 14.5882 2.8 14.5882H17.2C18.1941 14.5882 19 13.7191 19 12.6471V2.94118C19 1.86909 18.1941 1 17.2 1Z" stroke="white" stroke-width="1.44031" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.7058 11.5323V12.0153C13.7058 11.3218 13.5106 10.6567 13.1631 10.1664C12.8156 9.67599 12.3443 9.40051 11.8529 9.40051H8.14701C7.65558 9.40051 7.18428 9.67599 6.83678 10.1664C6.48929 10.6567 6.29407 11.3218 6.29407 12.0153V11.5323" stroke="white" stroke-width="1.44031" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.0916 7.23232C11.1402 7.23232 11.9903 6.42261 11.9903 5.42378C11.9903 4.42495 11.1402 3.61523 10.0916 3.61523C9.04295 3.61523 8.19287 4.42495 8.19287 5.42378C8.19287 6.42261 9.04295 7.23232 10.0916 7.23232Z" stroke="white" stroke-width="1.44031" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            </a>
            <span class="btn_portalcliente_toltip" data-show="false">Portal de Clientes</span>    
        </div>
    </div>