{% for collection in product_collection.collections %}
    {% if collection.title == 'Ofertas' %}
      <span class="bag-oferta ps-2 pe-2 pt-1 pb-1 rounded-pill ms-2 text-white fw-bold"> Oferta</span>
    {% endif %}
{% endfor %}
