<!-- Welcome section starts -->
<section class="section">
  <div class="container">
    <div class="contenedor-titulos-secciones">  
     
        <figure>
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/Deco-Navidad-02.jpg?v=1636750182" alt="Imagen de prueba">
        </figure>
      <h2 class="title-section">Conoce nuestras nuevas <b>Ofertas</b></h2>
        
    </div> 
  </div>
</section>
<!-- Welcome section ends -->
