{{ 'custom_popup.css' | asset_url | stylesheet_tag  }}

<div class="contenedor_fixed_popup" data-popup_show="false">
  
    <div class="contenedor_popup_emergente">      
      <img src="{{section.settings.imagen_popup | img_url: '500x360', format: 'pjpg' }}" alt="{{section.settings.imagen_popup.alt}}" /> 
      <button id="cerrar">X</button>
    </div>
  {% render 'test-cybermonday-newsletter'%}
</div>



{{ 'custom_popup.js' | asset_url | script_tag }}


{% schema %}
  {
    "name": "Custom Pop-Up Decimo",
    "settings": [
      {
        "type":"image_picker",
        "id":"imagen_popup",
        "label": "Seleccionar imagen"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
