  <div class="row flex-md-row flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <img class="img-fluid" src="{{section.settings.imagen | image_url }}" alt="">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center mt-md-0 mt-2" >
      <h1 class="titulos-contenedores col-10">{{section.settings.titulo}}</h1>
      <p class="col-8 descripcion-contenedores mt-4">{{section.settings.descripcion}}</p>
    </div>
  </div>

{% schema %}
  {
  "name": "Contenedor 2 Columnas",
  "tag":"section",
  "class":"container-fluid p-0 mb-md-5",
  "settings": [
      {
      "type": "image_picker",
      "id": "imagen",
      "label": "Selecciona imagen"
      },
	  {
      "type": "text",
      "id": "titulo",
      "label": "Colocar titulo"
      },
{
      "type": "text",
      "id": "descripcion",
      "label": "Colocar descripcion"
      }
      ],
      "presets": [
      {
      "name": "Contenedor 2 Columnas",
      "category": "Servicios"
      }
    ]
  }
{% endschema %}
