
<style>
    


:root {
    --main_font:"Lato";
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main.cover_sucursal {
        background-image: url('https://cdn.shopify.com/s/files/1/0519/2695/8235/files/header-desktop_b2fa019b-eeaf-4460-8340-8d65d84bd00c.png');
}

div.cover_container {
    height: 200px;
    
}

.cover_container h1.main_site_title {
    color: white;
    font-size: 32px;
    /* color: red; */
    font-weight: 400;
    font-family: "Lato";
}



span.underline_bar {
    height: 3px;
    background-color: #FF3333;
}

.page_tienda__home a,
.page_tienda__slash,
.page_tienda_tiendas a  {
    text-decoration: none;
    font-size: 16px;
    color: #202833;
    font-family: "Lato";
}

.page_tienda_tiendas a {
    font-weight:500;
    color: #FF3333;
    font-family: "Lato";
}


.select_div__styling  {
    background-color: #202833;
    position: relative;
    border-radius: 25px;
    height: 50px;
    font-family: "Lato";
}

.select_div__styling select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 30px;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    font-family: "Lato";
}



.select_div__styling select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0px 30px;
    background-color: rgb(241, 241, 241);
    border: none;
    color: #202833;
    outline: none;
    border-radius: 2px;
    font-family: "Lato";
}



.page_tienda_tiendas a {
    font-weight:500;
    color: #FF3333;
    font-family: "Lato";
}

svg.svg_arrow__tiendas {
    position: absolute;
    right: 20px;
    pointer-events: none;
    font-family: "Lato";
}


button.btn_nombre__sucursal {
    width: 235px;
    height: 40px;
    background-color: transparent;
    border: #000000 solid 2px;
    border-radius: 20.2175px;
    color: #000000;
    font-weight: 500;
    text-align: left;
    position: relative;
    padding-left: 15px;
    font-family: "Lato";
    

}

button.btn_nombre__sucursal:hover {
    background-color: #202833;
    color: white;
}

svg.icon_target__sucursal {
    position: absolute;
    right: 15px;
}

.page__location span {
    background: transparent;
}

.text_description {
    font-family: "Lato";
}

.main-title-sucursales {
    font-family: Lato;
    font-size: 42px;
    line-height: 42px;
  }
  
  @media (max-width: 599px) {
    .main-title-sucursales {
      line-height: 30px;
    }
  }
  
  .main-title-sucursales .subtitulo {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }
  
  @media (max-width: 599px) {
    .main-title-sucursales .subtitulo {
      font-size: 16px;
    }
  }
  
  .main-title-sucursales .titulo {
    font-family: Lato;
    font-size: 42px;
    font-weight: 700;
  }
  
  @media (max-width: 599px) {
    .main-title-sucursales .titulo {
      font-size: 32px;
    }
  }
  
  .main-title-sucursales:before {
    content: "";
    height: 3px;
    width: 120px;
    background-color: red;
    position: absolute;
    bottom: -5px;
  }

</style>



{% comment %} Contenedor de header y la foto de portada de la tienda {% endcomment %}

<section class="container mt-4">
    <div class="row row justify-content-md-start justify-content-center">
        <div class="col-8 col-sm-9 col-md-10 p-0 d-flex justify-content-start justify-content-md-start">
            <p class="col-12 col-sm-11 col-md-12 text-justify mt-4 mt-md-0 text_description">
              {{section.settings.texto_descriptivo}}
          </p>
        </div>
    </div>
        
</section>




    <section class="container mt-2">
        <div class="row justify-content-center justify-content-md-start">
            <div class="col-10 col-sm-3 d-flex flex-column align-items-center mt-4 mb-4">
                <h4 class="text-center">SUCURSALES</h4>
                <span class="underline_bar col-7"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-3 col-10 mt-4 d-flex justify-content-center">
                {{ section.settings.imagen_destacada | image_url: width: 250 | image_tag  }}
            </div>

            <div class="col-sm-9 mt-4">
                <div class="row justify-content-center">
                    <div class="col-sm-10">
                        <div class="row flex-column flex-sm-row align-items-center">

                             {% for block in section.blocks %}
                            {% assign b = block.settings %}
                            <div class="col-10 d-flex justify-content-center col-sm-6 mb-4">
                                <a href="{{ b.provincia }}" rel="noopener noreferrer" class="hover_sucursales__page">
                                    <button class="btn_nombre__sucursal">{{ b.title }} 
                                        <svg class="icon_target__sucursal" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z" fill="#FF3333"/>
                                            <path d="M14.5384 10.2308C14.5384 12.9231 11.0769 15.2308 11.0769 15.2308C11.0769 15.2308 7.61536 12.9231 7.61536 10.2308C7.61536 9.31274 7.98006 8.43231 8.62922 7.78315C9.27839 7.13399 10.1588 6.76929 11.0769 6.76929C11.995 6.76929 12.8754 7.13399 13.5246 7.78315C14.1737 8.43231 14.5384 9.31274 14.5384 10.2308Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M11.077 11.3845C11.7143 11.3845 12.2308 10.868 12.2308 10.2307C12.2308 9.59348 11.7143 9.0769 11.077 9.0769C10.4398 9.0769 9.92322 9.59348 9.92322 10.2307C9.92322 10.868 10.4398 11.3845 11.077 11.3845Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
            
    </section>






{% schema %}
{
    "name": "Contenido principal",
    "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Titulo Sucursales"
    },
    {
      "type": "text",
      "id": "texto_descriptivo",
      "label": "Texto descriptivo"
    },
    {
      "type": "image_picker",
      "id": "imagen_destacada",
      "label": "Seleccion Imagen destacada"
    }
    ],
    "blocks": [
    {
        "name" : "Sucursal Jamar",
        "type": "Texto",
        "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Nombre de la sucursal"
        },
        {
            "type": "page",
            "id": "provincia",
            "label": "Enlace"
        }
        ]       
    }
    ],
    "presets":[
        {
            "name":"Items sucursales",
            "category": "Sucurales"
        }
    ]
}
{% endschema %}