<div class="container">
    <div class="row">
        <div class="col-12">
            < class="main-jamar-title">¡Queremos que nos abras las puertas de tu hogar para llenarlo de mucha comodidad y estilo! Estamos muy cerca de ti, encuentra tu tienda más cercana y vive la experiencia Jamar con nuestros ambientes que inspiran y la asesoría de expertos. En cada almacén descubrirás una amplia selección de productos que podrás llevar a casa de forma fácil y rápida. ¡Te esperamos!
            </>
            <p class="main-jamar-text">¡Queremos que nos abras las puertas de tu hogar para llenarlo de mucha comodidad y estilo! Estamos muy cerca de ti, encuentra tu tienda más cercana y vive la experiencia Jamar con nuestros ambientes que inspiran y la asesoría de expertos. En cada almacén descubrirás una amplia selección de productos que podrás llevar a casa de forma fácil y rápida. ¡Te esperamos!
            </p>
        </div>
    </div>
</div>


