    {% render 'custom-separator' %}
    <section class="container">{% comment %} Contenedor de la sección de el feed de banners 2 ### {% endcomment %}
        <div class="row justify-content-around align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-6 text-center d-flex flex-column  align-items-center justify-content-center">
                <p class="lato-parrafos mb-0">{{ section.settings.main_description }}</p>
                <h2 class="text-center lato-titulos mb-0">{{ section.settings.main_title }} </h2> 
                <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1643910082/IMAGENES/JAMAR/svg-influencer_cqbdei.svg" alt="">
                <a class="btn_to_suavidad mt-2" href="http://" target="_blank" rel="noopener noreferrer">
                    Ver más >
                </a>
            </div>

            <div class="col-md-6 d-flex justify-content-center mb-md-0 mb-3">
                {{ section.settings.feature_image | image_url : width: auto | image_tag: alt: 'My favicon', srcset: nil, class: 'w-50' }}
            </div>
        </div>
    </section>{% comment %} Contenedor de la sección  del feed de productos {% endcomment %}


{% schema %}
{
  "name": "Seccion Informativa",
  "settings": [
    {
      "type": "text",
      "id": "main_title",
      "label": "Titulo Principal",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "text",
      "id": "main_description",
      "label": "Descripcion",
      "default": "Doler ipsum dolor sit amet consectetur adipiscing"
    },
    {
      "type": "image_picker",
      "id": "feature_image",
      "label": "Imagen destacada"
    }
    ],
    "presets": [
    {
    "name": "Colch. Informacion",
    "category": "Promo Colchones"
    }
    ]
    }
{% endschema %}