@font-face {
    font-family:"Geomanist Regular";
    src: url('https://joseamayadev.github.io/jamar_designs_public/Geomanist/Geomanist-Regular.otf')
}
@font-face {
    font-family:"Geomanist Bold";
    src: url('https://joseamayadev.github.io/jamar_designs_public/Geomanist/Geomanist-Bold.otf')
}
@font-face {
    font-family:"Geomanist Medium";
    src: url('https://joseamayadev.github.io/jamar_designs_public/Geomanist/Geomanist-Medium.otf')
}

.contenedor-titulos-seccion-detalles-iluminan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.contenedor-titulos-seccion-detalles-iluminan h2{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Geomanist Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #4E4E4E;
    width: 80%;
    margin-bottom: 24px;
}
.contenedor-titulos-seccion-detalles-iluminan h2.style-2{
    color: #A7977E;
}
.contenedor-titulos-seccion-detalles-iluminan p{
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: Regularer;
    font-size: 32px;
    width: 80%;
    color: #4E4E4E;
}
.contenedor-titulos-seccion-detalles-iluminan p:nth-of-type(1){
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    width: 80%;
    color: #4E4E4E;
    margin-bottom: 24px;
}

.contenedor-seccion-detalles-iluminan {
    display: flex;
    width: 100%;
    position: relative;
    height: 746px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}
.contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq {
    display: flex;
    position: absolute;
    width: 802px;
    height: 549.9px;
    left: 0px;
}
.contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq.movil {
    display: none;
}
.contenedor-seccion-detalles-iluminan .img-detalles-ilumina-top-center {
    position: absolute;
    width: 719px;
    height: 391px;
    left: 377px;
    top: 0px;
    z-index: -1;
}
.contenedor-seccion-detalles-iluminan .img-detalles-ilumina-top-center.movil {
    position: absolute;
    width: 719px;
    height: 391px;
    left: 377px;
    top: 0px;
    display: none;
}


.contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan {
    position: absolute;
    width: 40%;
    height: 85%;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    align-self: flex-end;
    flex-direction: column;

}
.contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan .texto-ilumina-derecha {
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #4E4E4E;
}
.contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan .texto-ilumina-derecha:nth-of-type(1) {
    margin-bottom: 20px;
}

@media screen and (max-width:1200px) {
    .contenedor-seccion-detalles-iluminan {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 589px;
        margin-bottom: 48px;
    }
    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq {
        width: 80%;
        height: 300px;
        position: static;

    }

    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-top-center {
        width: 100%;
        left: 0px;
        height: 600px;
        object-fit: cover;
        object-position: center center;
    }

    .contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan {
        position: absolute;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-self: flex-end;
        font-size: 20px;
        position: static;
    
    }

    .contenedor-seccion-detalles-iluminan .container-parrafo-detalles-iluminan .texto-ilumina-derecha {
        width: 70%;
        font-family: 'Geomanist Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        font-size: 16px;
        position: static;

    }

    .contenedor-titulos-seccion-detalles-iluminan {
        font-size: 24px;
        margin-bottom: 48px;
    }
    .contenedor-titulos-seccion-detalles-iluminan h2 {
        font-size: 24px;
        width: 90%;
    }
    .root .contenedor-titulos-seccion-detalles-iluminan p {
        font-size: 16px;
        text-align: center;
    }

    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-top-center.movil {
        width: 100%;
        left: 0px;
        height: 600px;
        object-fit: cover;
        object-position: center center;
        display: block;
    }

    
    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq {
        display: none;
        left: 0px;
    }
    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq.movil {
        display: flex;
        height: auto;
        width: 350px;
        margin-bottom: 30px;
    }

    p {
        line-height: 22px;
    }

    h6,h5,h4,h3,h2,h1 {
        line-height: 32px;
    }

    
}


@media screen and (max-width:600px) {
    
    .contenedor-seccion-detalles-iluminan .img-detalles-ilumina-izq.movil {
        display: flex;
        height: auto;
        width: 280px;
        margin-bottom: 30px;
    }
}

.carousel-productos-lumina {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    margin-bottom: 80px;
}
.carousel-productos-lumina a {
    display: flex;
    justify-content: center;
    width: 250px;
    position: relative;
    padding: 20px;
}
.carousel-productos-lumina a img{
    width: 100%;
}
.carousel-productos-lumina a img.img-icon-bag{
    position: absolute;
    width: 41px;
    height: 41px;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width:1200px) {
    .carousel-productos-lumina {
        justify-content: flex-start;
        padding-left: 0px;
        height: 200px;
        margin-bottom: 0px;
    }
    .carousel-productos-lumina a img {
        width: 144px;
        max-width: 144px;
    }
}




* {margin: 0px;padding: 0px;box-sizing: border-box;}


/* Estilos globales */

.container-titles {
    width: 100%;
    height: 98px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container-titles h5 {
    width: 100%;
    text-align: center;
    font-family: "Geomanist Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 141%;    
    color: #4E4E4E;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 80px;
}

.contenedor-carousel-ultima-seccion {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 10px;
    padding: 0px 10px;

}
.contenedor-carousel-ultima-seccion .product-item-ultima-seccion{
    text-decoration: none;
    width: 100%;
}
.contenedor-carousel-ultima-seccion .container-ultima-seccion-cta{
    grid-column: 1/7;
    height: 150px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.contenedor-carousel-ultima-seccion .container-ultima-seccion-cta .cta{
    width: 189px;
    height: 48px;
    border: 1px solid #4E4E4E;
    border-radius: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 141%;
    text-decoration: none;
    color: #4E4E4E;
    justify-content: space-evenly;
}
.contenedor-carousel-ultima-seccion .product-item-ultima-seccion img{
    background-color: rgb(230, 230, 230);
    min-height: 182.28px;
    width: 100%;
}
.contenedor-carousel-ultima-seccion .product-item-ultima-seccion h6{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14.7429px;
    line-height: 17px;
    color: #6D6D6D;
    margin-top: 10px;
}
.contenedor-carousel-ultima-seccion .product-item-ultima-seccion span{
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: inherit;
    color: #6D6D6D;
    width: 97.84px;
    height: 21.44px;
    background: rgba(217, 217, 217, 0.01);
    border: 1.34026px solid #6D6D6D;
    border-radius: 33.5065px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:1200px) {
    .contenedor-carousel-ultima-seccion {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        padding: 0px 10px;
        row-gap: 15px;
    
    }

    .contenedor-carousel-ultima-seccion .container-ultima-seccion-cta{
        grid-column: 1/3;
        height: 150px;
        display:flex;
        justify-content:center;
        align-items:center;
    }

    .container-titles {
        width: 100%;
        height: 98px;
        display:flex;
        justify-content:center;
        align-items:center;
        padding: 0px 5%;
    }
    .container-titles h5 {
        font-family: "Geomanist Regular";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 141%;
        margin-bottom: 48px;
    }

}



.ambientes-evocan-distincion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    height: auto;
}
.ambientes-evocan-distincion:nth-last-of-type(1) {
    margin-bottom: 80px;
}
.ambientes-evocan-distincion .contenedor-derecha {
    width: 100%;
    max-height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.ambientes-evocan-distincion .contenedor-derecha img {
    max-height: 100%;
    width: 100%;
}
.ambientes-evocan-distincion .contenedor-izquierda {
    /* max-height: 934px; */
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.ambientes-evocan-distincion .contenedor-izquierda .over{
    position: absolute;
    width: 643px;
}
.ambientes-evocan-distincion .contenedor-izquierda img {
    /* max-height: 934px; */
    width: 100%;
}

@media screen and (max-width:1200px) {

    .ambientes-evocan-distincion:nth-last-of-type(1) {
        margin-bottom: 48px;
    }
    .ambientes-evocan-distincion .contenedor-izquierda .over{
        position: absolute;
        width: 150px;
    }
}


.banner-video {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 80px;
}
.banner-video a {
    width: 100%;
}
.banner-video a picture {
    width: 100%;
}
.banner-video.style-2 {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 0px;
    padding: 0px 10%;
}
.banner-video img {
    width: 100%;
}

.banner-video svg {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:1200px) {
    .banner-video {
        margin-bottom: 48px;
    }
    .banner-video.video-lumina {
        height: 100%;
    }
    .banner-video.video-lumina picture img {
        height: 242px;
        object-fit: cover;
    }
    .banner-video.video-lumina svg {
        height: 72px;
        object-fit: cover;
    }
    .banner-video.style-2 {
        display:flex;
        justify-content:center;
        align-items:center;
        padding: 0px 0%;
        height: 235px;
    }
    .banner-video.style-2 picture {
       height: 100%;
       height: 235px;
    }
    .banner-video.style-2 picture img {
       height: 100%;
       object-fit: cover;
       height: 235px;
    }
}
