<article class="site-page rich-text--container" data-template-page>
  {% if page.content != blank %}
    <div class="page-content rte">
      {% section 'collection-silver' %}
    </div>
  {% endif %}
</article>

