{{ 'lumina.css' | asset_url | stylesheet_tag }}

<div class="root">
        <section class="banner-video" id="top"> 
            <a>              
                <picture class="banner-top">
                    <source media="(max-width: 600px)" srcset="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675970262/IMAGENES/JAMAR/Group_4_laziyu.png" />
                    <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675968516/IMAGENES/JAMAR/Group_3_jgaraz.png" alt="">
                </picture>
            </a>
        </section>


        <!-- Seccion AMBIENTES QUE ILUMINAN CON DISTINCIÓN. -->
        <div class="contenedor-titulos-seccion-detalles-iluminan style-2">
            <h2 class="style-2">”Es símbolo de elegancia y delicadeza para los anfitriones del buen gusto”</h2>
            <p>Lúmina esta diseñada para quienes prefieren ambientes sofisticados, funcionales y actuales, con toques de elegancia que transmiten armonía y amplitud.</p>
        </div>

        <section class="banner-video style-2">               
            <picture>
                <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675967994/IMAGENES/JAMAR/IMG_4_-_DESKTOP_mrcmgg.png" alt="">
            </picture>
        </section>


        <section class="carousel-productos-lumina">
            <a href="https://www.jamar.com.pa/products/7021550"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_3.1_-_DESKTOP.webp?v=1676121089" alt="">
                <img class="img-icon-bag" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-bag.svg?v=1676121418" alt="">
            </a>
            <a href="https://www.jamar.com.pa/products/7024824"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_3.2_-_DESKTOP.webp?v=1676121118" alt="">
                <img class="img-icon-bag" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-bag.svg?v=1676121418" alt="">
            </a>
            <a href="https://www.jamar.com.pa/products/7024682"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_3.3_-_DESKTOP.webp?v=1676121190" alt="">
                <img class="img-icon-bag" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-bag.svg?v=1676121418" alt=""></a>
            <a href="https://www.jamar.com.pa/products/7025472"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_3.4_-_DESKTOP.webp?v=1676121275" alt="">
                <img class="img-icon-bag" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-bag.svg?v=1676121418" alt=""></a>
            <a href="https://www.jamar.com.pa/products/7024823"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_3.5-_DESKTOP.webp?v=1676121318" alt="">
                <img class="img-icon-bag" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-bag.svg?v=1676121418" alt=""></a>
        </section>





        <section class="banner-video video-lumina">
            {% comment %} <svg width="114" height="113" viewBox="0 0 114 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.3" d="M56.6667 112.5C87.9628 112.5 113.333 87.316 113.333 56.25C113.333 25.184 87.9628 0 56.6667 0C25.3705 0 0 25.184 0 56.25C0 87.316 25.3705 112.5 56.6667 112.5Z" fill="black"/>
                <path d="M45.3335 33.75L79.3335 56.25L45.3335 78.75V33.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg> {% endcomment %}
            <video
                autoplay="autoplay"
                loop="loop"
                muted
                defaultMuted
                playsinline
                oncontextmenu="return false;"
                preload="auto"
            >
                <source src="https://cdn.shopify.com/videos/c/o/v/1bb1ada6d2a94e45907ff1f2741c195f.mp4" type="video/mp4">
            </video>
        </section>

        <!-- Seccion AMBIENTES QUE ILUMINAN CON DISTINCIÓN. -->
        <div class="contenedor-titulos-seccion-detalles-iluminan">
            <h2>AMBIENTES QUE EVOCAN LUJO Y DISTINCIÓN</h2>
            <p>Cada detalle y cada elemento que conforma esta colección otorga exclusividad a tus espacios, con complementos perfectos que resaltan la 
                armonía de tu hogar.</p>
        </div>

        <section class="ambientes-evocan-distincion">
            <div class="contenedor-derecha">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/izquierda-imagen-puff.jpg?v=1676064497" alt="">
            </div>
            <div class="contenedor-izquierda">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/background-imagen-seccion-large.png?v=1676062226" alt="">
                <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675967606/IMAGENES/JAMAR/Rectangle_284_fh7zkh.png" alt="" class="over">
            </div>

        </section>
        <section class="ambientes-evocan-distincion">
            <div class="contenedor-izquierda">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/background-imagen-seccion-large.png?v=1676062226" alt="">
                <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675965945/IMAGENES/JAMAR/Rectangle_286_if0a2g.png" alt="" class="over">
            </div>
            <div class="contenedor-derecha">
                <img src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675965945/IMAGENES/JAMAR/IMG_5.4-_DESKTOP_xlcyal.png" alt="">
            </div>
        </section>
    


        <!-- Seccion DETALLES QUE ILUMINAN CON DISTINCIÓN. -->
        <div class="contenedor-titulos-seccion-detalles-iluminan">
            <h2>DETALLES QUE ILUMINAN CON DISTINCIÓN.</h2>
            <p>Este estilo guarda detalles únicos que elevan su diseño. Se concentra en las suaves curvas,  en los brillos sutiles y el uso de texturas aterciopeladas que transmiten exclusividad, calidad y lujo.</p>
            <p>Se destaca por sus tonos neutros y delicados, donde el dorado, el perlado y el champaña juegan un papel importante.</p>
        </div>
    
        <div class="contenedor-seccion-detalles-iluminan">
            <img class="img-detalles-ilumina-izq" src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675960621/IMAGENES/JAMAR/Rectangle_280_i4h0w1.png" alt="">
            <img class="img-detalles-ilumina-izq movil" src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675980307/IMAGENES/JAMAR/IMG_6-_DESKTOP_1_aalqtz.png" alt="">
            <img class="img-detalles-ilumina-top-center" src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675960621/IMAGENES/JAMAR/Rectangle_288_i22it6.png" alt="">
            <img class="img-detalles-ilumina-top-center movil" src="https://res.cloudinary.com/www-ismyt-com/image/upload/v1675960621/IMAGENES/JAMAR/Rectangle_288_i22it6.png" alt="">
            <div class="container-parrafo-detalles-iluminan">
                <p class="texto-ilumina-derecha">Cada pieza esta cuidadosamente diseñada y fabricada con materiales de la más alta calidad.  La colección Lumina es todo lo que en tu hogar sueñas tener.</p>
            </div>
        </div>

        <div class="container-titles">
            <h5>Elevar tu estilo de vida nunca ha sido tan fácil, como lo es ahora con la colección Lumina.</h5>
        </div>
        <div class="contenedor-carousel-ultima-seccion">
            <a class="product-item-ultima-seccion" href="https://www.jamar.com.pa/products/7023981">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_10.1_-_MOBILE.jpg?v=1676729136" alt="">
                <h6>Recámara Queen Alabama Perla, Champaña.</h6>
                <span>¡Lo quiero!</span>
            </a>
            <a class="product-item-ultima-seccion" href="https://www.jamar.com.pa/products/7022644">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_10.2_-_MOBILE.jpg?v=1676729135" alt="">
                <h6>Cama King Foster Eurolino Perla, Espejo.</h6>
                <span>¡Lo quiero!</span>
            </a>
            <a class="product-item-ultima-seccion" href="https://www.jamar.com.pa/products/7025471">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_10.3_-_DESKTOP.webp?v=1676121583" alt="">
                <h6>Sofá 2 Ptos Berlin Velvet Beige Champaña.</h6>
                <span>¡Lo quiero!</span>
            </a>
            <a class="product-item-ultima-seccion" href="https://www.jamar.com.pa/products/7024883">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_10.4_-_DESKTOP.webp?v=1676121735" alt="">
                <h6>Comedor 4 Ptos Lisboa Velvet Marmol, Champaña</h6>
                <span>¡Lo quiero!</span>
            </a>
            <a class="product-item-ultima-seccion" href="https://www.jamar.com.pa/products/7024492">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_10.5_-_DESKTOP.webp?v=1676121797" alt="">
                <h6>Comedor 6 Ptos Roma Velvet Marmol, Blanco Perla y Champaña.</h6>
                <span>¡Lo quiero!</span>
            </a>
            <a class="product-item-ultima-seccion" href="https://www.jamar.com.pa/products/7025586">
                <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/IMG_10.6_-_DESKTOP.webp?v=1676121827" alt="">
                <h6>Sala Rinconera Clapton Suprema Sand Champana.</h6>
                <span>¡Lo quiero!</span>
            </a>
    
            <div class="container-ultima-seccion-cta">
                <a class="cta" href="#top">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 15V1" stroke="#4E4E4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1 8L8 1L15 8" stroke="#4E4E4E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                        
                    Volver a leer</a>
            </div>
    
        </div> 

    </div>

<script>

//Evento de reproducción de video
window.addEventListener("load", () => {
    console.log("Desde lumina todo bien")
})
</script>

